<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-picture-input"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js" async></script>
  <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <title>Vue exif getter In the browser!</title>
</head>

<body>
  <div id="app">
    <picture-input ref="pictureInput" @change="onChange"></picture-input>
    <template>
      <p v-for="ex in exifs">
        {{ex}}
      </p>
    </template>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          message: 'Vue exif meta info getter',
          DateImage: "DateTimeDigitized",
          exifs: null
        }
      },
      components: {
        'picture-input': PictureInput
      },
      methods: {
        onChange(image) {
          //console.log('onChange!')
          if (image) {
            //let vm = this
            EXIF.getData(this.$refs.pictureInput.file, function () {
              //vm.exifs = this
              //let vm = this
              var make = EXIF.getTag(this, "Make"),
                model = EXIF.getTag(this, "Model");

              //alert("I was taken by a " + make + " " + model);
              //make.exifs = this
              //console.log('image info', this)
              //console.log('exif data', this.exifdata)
              //return window.console;
              //Make=this.exifdata;
              //return Make;
              //const make = EXIF.getTag(this, 'Make');
              //return make;
              // data.DataImage = (this.exifdata && this.exifdata.DataImage);
              //console.log("date image jadid : " + this.DateImage);
            })
          } else {
            console.log(`it's not image`)
          }
        },
        // getEI: function () {
        // EXIF.getData(imageElement, function () {
        // var make = EXIF.getTag(this, "Make"),
        //  model = EXIF.getTag(this, "Model");
        // alert("I was taken by a " + make + " " + model);
        //});
        //console.log("asdlajhasudhalushdaligusdhlaigh" + this.DateImage);
        //console.log(DateImage);
        //var old = console.log;
        //var logger = document.getElementById('log');
        //console.log = function (message) {
        // if (typeof message == 'object') {
        //   logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '<br />';
        // } else {
        //  logger.innerHTML += message + '<br />';
        // }
        //}
        // console.log("the result is :" + (this.data && this.data.DataImage))
        //return (this.exifdata && this.exifdata.DateTime);
      }
    });
  </script>
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <div class="ui huge labels">
          <div class="ui label">
            <p v-for="make">Make:</p>
          </div>
          <div class="ui label">
            Model:
          </div>
          <div class="ui label">
            Smart
          </div>
          <div class="ui label">
            Witty
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script>
    "use strict";
    window.onload = getExif;

    function getExif() {
      //  var img1 = document.getElementById("img1");
      //     EXIF.getData(img1, function() {
      //      var make = EXIF.getTag(this, "Make");
      //     var model = EXIF.getTag(this, "Model");
      //   var makeAndModel = document.getElementById("makeAndModel");
      //     makeAndModel.innerHTML = `${make} ${model}`;
      //   });

      var img3 = document.getElementById("img3");
      // EXIF.enableXmp();
      EXIF.getData(img3, function () {
        var allMetaData = EXIF.getAllTags(this);
        var img3WithXmpMetaData = document.getElementById("img3WithXmpMetaData");
        img3WithXmpMetaData.innerHTML = JSON.stringify(allMetaData, null, "\t");
      });
    }
  </script> -->


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="node_modules/semantic-ui/dist/semantic.min.js"></script>
</body>

</html>